- name: Install Janus and dependencies
  hosts: all
  strategy: free
  become: yes
  roles:
    - { role: roles/haxorof.docker_ce, tags: 'docker' }
    - { role: roles/janus, tags: 'janus' }
    - { role: roles/controller, tags: 'controller' }
    - { role: roles/janus-add-node, tags: 'janus-add' }
    - { role: roles/janus-del-node, tags: 'janus-del' }
